<script src="{{ 'cart_update.js' |  asset_url }}" defer></script>


<div class="w-full   cart_drawer_container fixed top-0 right-0 h-full bg-[rgb(0,0,0,0.3)]  justify-end items-center hidden">
  <div class="w-[24em]  duration-500 overflow-hidden translate-x-[26em]  cart_item_container  h-full bg-amber-300 px-[1em]">
    <div class="w-full py-[0.5em] bg-slate-300 flex justify-between items-center border-b-[1px] border-slate-400 ">
      <h2 class="text-[1.4em] font-bold ">Your Cart</h2>
      <div class="cart_drawer_close  bg-red-400">
        {% render 'icon-close' %}
      </div>
    </div>


    <div class="w-full h-full   ">
      {% if cartObj.item_count > 0 %}
        <form
          class="w-full  h-full"
          action="{{ routes.cart_url }}"
          method="POST"
          novalidate>
          <div class="w-full h-[80%] item_container  cart_inside_items  flex flex-col items-start  gap-4 bg-amber-900 overflow-y-scroll hide"></div>

          <div class="h-[20%] w-full bg-purple-600">
            <div class="w-full py-[0.2em] bg-amber-200 flex gap-2 items-center">
              <button
                type="submit"
                name="checkout"
                class="w-1/2 rounded-sm border-[1px] border-lime-500 text-lime-500 roboto hover:bg-lime-500 hover:text-white duration-300 cursor-pointer py-[0.3em] bg-red-300">Checkout</button>
              <div class="flex font-semibold underline gap-1">
                <p class="">Subtotal:
                </p>
                <p data-cart-total class="  orignal_total_price"></p>
              </div>
            </div>

            <button href="{{ routes.cart_url }}" class="w-full rounded-sm border-[1px] border-lime-500 text-white roboto bg-lime-500 hover:bg-transparent hover:text-lime-500 duration-300 cursor-pointer py-[0.3em] ">Go to Cart</button>
          </div>
        </form>


      {% else %}
        <div class="w-full h-full flex justify-center items-center flex-col gap-4">
          <h1 class="text-[1.5em] font-bold">Your Cart is Empty</h1>
          <a href="{{ routes.all_products_collection_url }}" class="py-[0.5em] px-[1em] text-white  bg-lime-500 rounded-sm border-[1px] border-lime-500 hover:bg-transparent hover:text-lime-500 duration-300 cursor-pointer">Continue Shopping</a>
        </div>

      {% endif %}
    </div>


  </div>
</div>


<script>
 
</script>