<div class="w-full bg-[#F6F6F6] py-[4em] px-[1.5em] sm:px-[5em] flex flex-col gap-3">
    <h1 class=" text-3xl roboto font-medium">{{ title }}</h1>
    <p class="text-[12.5px] text-slate-600 roboto">Very us move be blessed multiply night</p>
  </div>