<div x-show=" quick_view " class="w-full h-full fixed top-0 left-0 bg-[rgb(0,0,0,0.3)] p-[0.2em] flex justify-center items-center duration-300 ">
    <div class=" quick_view_container relative w-[95%] mx-auto max-w-[1440px] h-[35em] bg-white rounded-sm overflow-y-scroll overflow-x-hidden flex flex-col">
        
    </div>
</div>