@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.links{
  transition: all 0.3s ease-in-out;
}
.links:hover{
    color: #71CD14;
    transition: all 0.3s ease-in-out;
    transform: translateY(2px);
}


.roboto{
    font-family: "Roboto", sans-serif;
  }

  .head{
    color: #71CD14;
  }



  .navbar {
    position: fixed;
    top: 0em;
    right: 31%;
    background: white;
    transition: transform 1s ease-in-out;
    z-index: 100;
    
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .navbar.hidden {
    transform: translateY(-100%);
  }


  .hide::-webkit-scrollbar{
    display: none;
  }



  .cart-item-quantity::-webkit-inner-spin-button,
  .cart-item-quantity::-webkit-outer-spin-button {
    opacity: 1; /* Show the arrows */
    height: 30px; /* Set the height of the arrows */
    width: 40px; /* Set the width of the arrows */
    background-color: lime;
  }



  .spinner {
    width: 30px;
    height: 30px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color:white;
    animation: spinner-a4dj62 1s infinite linear;
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
    animation: spinner-a4dj62 2s infinite;
 }
 
 .spinner::after {
    margin: 8.9px;
    animation-duration: 3s;
 }
 
 @keyframes spinner-a4dj62 {
    100% {
       transform: rotate(1turn);
    }
 }


 
  